<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="js/ng-cordova.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ejemplo SQLite</h1>
      </ion-header-bar>
      <ion-content ng-controller = "ExampleController">
      <div class="list">
        <label class="item item-input">
        <input type="text" placeholder="Nombre" ng-model="nombre">
        </label>
        <label class="item item-input">
        <input type="text" placeholder="Apellido" ng-model="apellido">
        </label>
        <label class="item item-input">
        <textarea placeholder="Comentarios" ng-model="comentarios"></textarea>
        </label>
      </div>
      <button class="button button-stable" ng-click="insert(nombre,apellido,comentarios)">
      Insertar en Tabla
      </button>
      <div class="list">
        <label class="item item-input">
        <input type="text" placeholder="Apellido" ng-model="apellido_alt">
        </label>
      </div>
      <button class="button button-stable" ng-click="select(apellido_alt)">
      Seleccionar Datos
      </button>
      <div class="list">
        <label class="item item-input">
        <input type="text" placeholder="Resultado" ng-model="resultado">
        </label>
      </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
